
    html {
        overflow-y: scroll;
      }

.input-container{
   width: 60vw;
   margin: 100px auto;
   border: 1px solid #333;
   border-radius: 5px;
   overflow: hidden;
   
   
  }

  #search-bar{
    padding: 10px;
    font-size: 30px;
    width:100vw;
    color: #333;
    border: none;
    outline: none;
    
    
    
    
  }
  .dropdown-results{
      border-top: 1px solid black;
      display:none;
     
      

      
  }
  .result{
      padding-top:15px;
      padding-bottom:15px;
      padding-left: 10px;
      font-size: 20px;
      font-family: sans-serif;
      color: #333;      
    
  }
  .result[data-status= "active"]{
    background-color: lightblue
  }
/*   .result:hover{
      background-color: lightblue
      
  } */

  .state-info{
    width: 40vw;
    margin: 100px auto;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 30px;
    font-family: sans-serif;
    background-color: lightblue;
    text-align: center;
    padding: 15px;
    display: none;
    
  }
  .state-info div{
      margin: 20px;
  }